<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Droidz</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div id="leftButtons">
        <a th:href = "@{/}">Home</a>
        <a th:href = "@{/about}">About</a>
    </div>
    <div id="rightButtons">
        <a th:href = "@{/login}">Log in</a>
    </div>

</header>

<main>
    <img src="../static/img/droid_background.jpg" alt="droid image" th:src="@{/img/droid_background.jpg}"/>
    <section id="title">
        <h1>Droidz</h1>
        <p>Welcome to the droidz application, where you can create your own droids and play with it.</p>
    </section>
</main>

<footer>
    <p>&copy; 2020 Droidz application by Tenzin</p>
</footer>
<script src = "../static/scripts/script.js" th:src="@{/scripts/script.js}"></script>
</body>
</html>